<%= fields_for form, parameter_fields, :index => nil do |f| %>
  <p class="parameter">
  	<span class="context_action"></span>
  	<span class="key"><%= f.text_field :key, :disabled => true %><%= f.hidden_field :key %></span>
  	<span class="value"><%= f.text_field :value %></span>
  	<span class="actions">
      <%= link_to_function "Delete", "$(this).parents('.parameter').remove()", :class => "remove" %>
    </span>
  </p>
<% end -%>