<%= form_for @object, :url => {:action => action} do |f| %>
  <% if @object.new_record? -%>
  <h1>Name</h1>
  <%= f.text_field :name %>
  <% else -%>
  <%= f.hidden_field :name %>
  <% end -%>
  <h1>Description</h1>
  <div class="indent">
    <%= f.text_area :description, :rows => 4, :cols => 100 %>
  </div>
  <h1>Parameters</h1>
  <%= render :partial => "configuration/shared_partials/hashed_form", :locals => { :form_name => "#{vex_class.to_s.downcase}"} %>
  <div class="box">
    <%= render :partial => "configuration/#{params[:type].to_s.downcase.pluralize}/associations_form", :locals => { :f => f }  rescue nil %>
  </div>
  <p>
    <%= submit_tag(@object.new_record? ? "Create" : "Update") %>
  </p>
<% end %>