<% content_for :title do %>
  <title>Vex - New <%= self.class.const_get(params[:type].camelize).routing_path.capitalize %></title>
<% end %>

<% content_for :head do %>
  <script>
  $(function() {
  <% vex_class.vex_assignments.keys.each do |item| -%>
     $("#<%= vex_class.to_s.downcase %>_<%= item.to_s.singularize %>_tokens").tokenInput("/<%= self.class.const_get(item.to_s.singularize.camelize).routing_path.pluralize %>.json", {
     	crossDomain: false,
     	prePopulate: $("#<%= vex_class.to_s.downcase %>_<%= item.to_s.singularize %>_tokens").data("pre"),
     	preventDuplicates: true,
     	theme: "facebook"
     });
  <% end -%>
  });
  </script>
<% end %>

<% content_for :heading do %>
  <span class="annotate">(<%= self.class.const_get(params[:type].camelize).routing_path.singularize.downcase %>::new)</span>
  <h1>New <%= params[:type].singularize.downcase.capitalize %></h1>
<% end %>

<% content_for :content do %>
  <%= render :partial => "form", :locals => { :action => 'create' }%>
<% end %>